nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:yellow;
}
.meat{
    flex-direction: column ;
    list-style: square;
}
ul{
    display: flex;
    gap:1cm;
    list-style: circle;

}