.friends{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 250px 150px 100px;;
}
header{
    grid-column: 1/3;
    background:peachpuff;
}
footer{
    grid-column: 1/3;
    background:yellow;
}
main{
    background:lightgreen;
}
aside{
    background:lightblue;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1c;
}
.d1{
    background:yellowgreen;
    text-align: center;
    padding: 20px;
}