img{
    width : 400px;
}
body{
    background-color: #f3c7c7;
   
}
#content{
    display: flex;
    gap: 1cm;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;


}

